<header id="navbar">
    <div class="logo" onclick="window.location.href='index.html'">
        <img src="../assets/logo-calisto.svg" alt="Calisto" class="site-logo">
    </div>
    <nav>
        <ul id="nav-links">
            <!-- Close button mobile -->
            <div class="mobile-close-btn" onclick="toggleMenu()">✕</div>

            <li><a href="index.html#solutions">Solutions</a></li>
            <li><a href="index.html#partner">Partners</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html#contact">Contact</a></li>
        </ul>
    </nav>

    <div class="hamburger" onclick="toggleMenu()" aria-label="Open menu">
        <span></span><span></span><span></span>
    </div>
</header>